body { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	background-color: #c0c0c0;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0px auto auto auto;
	color: #000000;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	margin-left: 10px;
	min-width: 132px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Links inside the dropdown */
.dropdown-content a {
	color: black !important;
	margin: 0px !important;
	padding: 12px 10px 12px 10px;
	text-decoration: none;
	display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #666666;
	color: #FFFFFF !important;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}
a {
	color: #990000;
}
.clear {
	clear: both;
}
p {
	padding: 5px 0 5px 0;
	margin: 0px;
	text-align: justify;
	line-height: 19px;
}
p.details {
	padding: 5px 15px 5px 15px;
	font-size: 11px;
}
p.details_cart {
	clear: both;
	padding: 25px 30px 5px 0px;
	font-size: 11px;
	font-style: italic;
}
p.more_details {
	padding: 25px 20px 0px 20px;
	font-size: 11px;
}
#wrap {
	width: 900px;
	height: auto;
	margin: auto;
	background-color: #FFFFFF;
}
.header { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	width: 900px;
	height: 181px;
	background: url(../images/header.jpg) no-repeat center;/* pixel2013 (N.D.), Flower meadow, pixabay.com, retrieved 16 August 2016, <https://pixabay.com/en/flower-meadow-wildflowers-meadow-1510602/>.*/
}
.logo {
	padding: 0 0 0 30px;
	float: left;
}
/*-----------------------------menu-------------------*/
#menu { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	width: 870px;
	height: 41px;
	margin: 55px 0 0 15px;
	top: 60px;
	position: absolute;
	background: url(../images/menu_bg.jpg) repeat;
}
#menu ul {
	display: block;
	list-style: none;
	padding: 9px 0 0 10px;
	margin: 0px;
}
#menu ul li {
	display: inline;
	padding: 0px;
	margin: 0px;
	height: 27px;
}
#menu ul li a { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	height: 27px;
	display: block;
	padding: 0px 5px 0 5px;
	margin: 0 4px 0 4px;
	float: left;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 13px;
	line-height: 27px;
}
#menu ul li.selected a { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	height: 27px;
	display: block;
	padding: 0px 5px 0 5px;
	margin: 0 4px 0 4px;
	float: left;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 13px;
	line-height: 27px;
	background: url(../images/menu_bt_bg.gif) repeat-x center;
}
#menu ul li a:hover {
	background: url(../images/menu_bt_bg.gif) repeat-x center;
}
/*----------------crumb_nav------------------*/
.crumb_nav {
	padding: 5px 0 10px 0px;
}
.crumb_nav a { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/;
	color: #ac4bbb;
}
span.red {
	color: #000; /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	;
}
.price {
	font-size: 14px;
	padding: 0 0 0 15px;
	margin: 2px 0 5px 0;
}
span.colors {
	padding: 2px 2px 0 2px;
}
/*------------------------------------center content--------------------*/
.center_content {
	width: 900px;
	padding: 0px 0 0 0;
	background: url(../images/center_bg.gif) repeat-y center;
}
.left_content {
	width: 490px;
	float: left;
	padding: 20px 0 20px 20px;
}
.right_content {
	width: 370px;
	float: left;
	padding: 20px 0 20px 20px;
}
.title { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	color: #ac4bbb;
	padding: 0px;
	float: left;
	font-size: 19px;
	margin: 10px 0 10px 0;
	width: 100%;
}
span.title_icon {
	float: left;
	padding: 0 5px 0 0;
}
.prod_title { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	color: #ac4bbb;
	padding: 5px 0 0 15px;
	font-size: 13px;
}
a.more { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	font-style: italic;
	color: #ac4bbb;
	float: right;
	text-decoration: none;
	font-size: 11px;
	padding: 0px 15px 0 0;
}
.about {
	width: 337px;
	clear: both;
	background: url(../images/border.gif) no-repeat bottom center;
	padding: 0 0 20px 0;
}
img.right {
	float: right;
	padding: 0 0 0 10px;
}
.right_box {
	width: 340px;
	float: left;
	padding: 10px 0 0 0;
}
/*--------feat_prod_box-----------*/
.feat_prod_box {
	padding: 10px 0 10px 0;
	margin: 0 20px 20px 0;
	border-bottom: 1px #b2b2b2 dashed;
	clear: both;
}
.feat_prod_box_details {
	padding: 10px 0 10px 0;
	margin: 0 20px 10px 0;
	clear: both;
}
.prod_img {
	float: left;
	padding: 0 5px 0 0;
	text-align: center;
}
.prod_det_box {
	width: 295px;
	float: left;
	padding: 0 0 0 15px;
	position: relative;
}
.box_top {
	width: 295px;
	height: 9px;
	background: url(../images/box_top.gif) no-repeat center bottom;
}
.box_center {
	width: 295px;
	height: auto;
	background: url(../images/box_center.gif) repeat-y center;
}
.box_bottom {
	width: 295px;
	height: 9px;
	background: url(../images/box_bottom.gif) no-repeat center top;
}
.new_prod_box {
	float: left;
	text-align: center;
	padding: 10px;
}
.new_prod_box a { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	color: #353535;
	text-decoration: none;
	display: block;
}
.new_prod_bg {
	width: 132px;
	height: 119px;
	text-align: center;
	background: url(../images/new_prod_box.gif) no-repeat center;
	position: relative;
}
.new_icon { /*----- Edited by Jerome Ziegelaar 24-09-2016 -----*/
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
}
.special_icon {
	position: absolute;
	top: 0px;
	_top: 6px;
	right: 2px;
	z-index: 250;
}
img.thumb { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	padding: 0px;
}
.new_products {
	clear: both;
	padding: 0px;
}
ul.list {
	clear: both;
	padding: 10px 0 0 20px;
	margin: 0px;
}
ul.list li {
	list-style: none;
	padding: 2px 0 2px 0;
}
ul.list li a {
	list-style: none;
	text-decoration: none;
	color: #000000;
	background: url(../images/left_menu_bullet.gif) no-repeat left;
	padding: 0 0 0 17px;
}
ul.list li a:hover {
	text-decoration: underline;
}
/* demo */

div.demolayout {
	width: 460px;
	margin: 0 0 20px 0;
}
ul.demolayout {
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
ul.demolayout li {
	margin: 0 10px 0 0;
	float: left;
}
.tab {
	border: 1px #DFDFDF solid;
	padding: 0 0 25px 0;
}
ul.demolayout a {
	float: left;
	display: block;
	padding: 5px 25px;
	border: 1px solid #DFDFDF;
	border-bottom: 0;
	color: #666;
	background: #eee;
	text-decoration: none;
	font-weight: bold;
}
ul.demolayout a:hover {
	background: #fff;
}
ul.demolayout a.active { /*----- Edited by Jerome Ziegelaar 15-08-2016 -----*/
	background: #fff;
	padding-bottom: 5px;
	cursor: default;
	color: #ac4bbb;
}
.tabs-container {
	clear: left;
	padding: 0px;
}
/*-----------------------languages_box---------*/
.languages_box {
	padding: 0 0 5px 0;
	float: left;
}
.languages_box a {
	padding: 0 2px 0 2px;
}
.languages_box a.selected {
	padding: 2px 2px 0 2px;
	border: 1px #CCCCCC solid;
}
.currency {
	float: left;
	padding: 0 0 0 20px;
}
.currency a {
	text-decoration: none;
	color: #333333;
	padding: 3px;
	border: 1px #eeedee solid;
}
.currency a.selected {
	text-decoration: none;
	color: #fff;
	padding: 3px;
	border: 1px #eeedee solid;
	background-color: #FF9900;
	font-weight: bold;
}
.currency a:hover {
	border: 1px #990000 solid;
}
/*------------------------cart---------------------*/
.cart {
	width: 337px;
	float: left;
	height: 80px;
	margin: 10px 0 10px 0;
	background: url(../images/border.gif) no-repeat bottom center;
	padding: 0 0 20px 0;
}
.home_cart_content {
	float: left;
	padding: 3px;
	border: 1px #eeedee solid;
	margin: 5px 0 3px 15px;
}
.view_cart_button {
	display: block;
	float: left;
	margin: 7px 16px 0 10px;
	color: #ac4bbb;
}
/*---------------contact_form------------------*/
.contact_form {
	width: 800px;
	float: left;
	padding: 25px;
	margin: 20px 0 0 15px;
	_margin: 20px 0 0 5px;
	border: 1px #DFD1D2 dashed;
	position: relative;
}
.contact_form .row {
	width: 800px;
	_width: 800px;
	clear: both;
	padding: 10px 0 10px 0;
	_padding: 5px 0 5px 0;
	color: #a53d17;
}
label.contact {
	width: 150px;
	float: left;
        margin: 0px 10px 0 0;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.contact_input {
	width: 320px;
	height: 20px;
	margin: 0px 0 10px 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
	float: left;
}
textarea.contact_textarea {
	width: 320px;
	height: 120px;
	margin: 0px 0 10px 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	border: 1px #DFDFDF solid;
	float: left;
}
.contact_form input[type=submit] {
	margin: 0 310px 20px 0;
	height: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	border: none;
	float: right;
}
.contact_form .error {
	margin: 0 0 0 10px;
	color: #990000;
}

input.register {
	width: 71px;
	height: 25px;
	border: none;
	cursor: pointer;
	text-align: center;
	float: right;
	color: #FFFFFF;
	background: url(../images/register_bt.gif) no-repeat center;
}

a.contact {
	width: 53px;
	height: 24px;
	display: block;
	float: right;
	margin: 0 0 0 10px;
	background: url(../images/contact_bt.gif) no-repeat center;
	text-decoration: none;
	text-align: center;
	line-height: 24px;
	color: #fff;
}
a.checkout {
	width: 71px;
	height: 25px;
	display: block;
	float: right;
	margin: 10px 30px 0 10px;
	background: url(../images/register_bt.gif) no-repeat center;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	color: #fff;
}
a.continue {
	width: 71px;
	height: 25px;
	display: block;
	float: left;
	margin: 10px 0 0 0px;
	background: url(../images/register_bt.gif) no-repeat center;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	color: #fff;
}
.terms {
	padding: 0 0 0 80px;
}
.form_subtitle {
	position: absolute;
	top: -11px;
	left: 7px;
	width: auto;
	height: 20px;
	background-color: #990000;
	text-align: center;
	padding: 0 7px 0 7px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 20px;
}
/*--------------cart_table-------------*/
.cart_table {
	width: 800px;
	border: 1px #CCCCCC solid;
	text-align: center;
}
tr.cart_title {
	background-color: #DFDFDF;
}
td {
	padding: 3px;
}
td.cart_total {
	text-align: right;
	padding: 5px 15px 5px 0;
}
img.cart_thumb {
	border: 1px #b2b2b2 solid;
	padding: 2px;
}
p.total {
	text-align: right;
	margin-right: 10px;
}
.button {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	border: none;
	float: right;
	cursor: pointer;
}
.update_cart_button {
	margin: 10px 140px 20px 0;
	height: 24px;
}
.checkout_cart_button {
	margin: 10px -190px 20px 0;
	height: 24px;
}
/*--------------*/
div.pagination {
	width: 420px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	float: left;
	clear: both;
	font-size: 10px;
}
div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	text-decoration: none;
	color: #990000;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #990000;
	color: #fff;
	background-color: #990000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #990000;
	font-weight: bold;
	background-color: #990000;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}
/*---------------footer------------------------*/
.footer {
	height: 100px;
	border-top: 1px #b2b2b2 dashed;
	background: url(../images/footer_bg.gif) no-repeat bottom;
}
.left_footer {
	float: left;
	padding: 10px 0 0 10px;
}
.right_footer {
	float: right;
	padding: 10px 10px 0 0;
}
.footer a {
	text-decoration: none;
	padding: 0 5px 0 5px;
	color: #afaeaf;
}
/*----- The below code was added by Jerome Ziegelaar 15-08-2016 -----*/

/*----- Header search form -----*/
.header_search_form {
	float: right;
	margin-right: 20px;
}
.header_search_form input[type=text] {
	width: 130px;
	margin-top: 2px;
	height: 20px;
	margin: 0 0 0 10px;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
	float: left;
}
.header_search_form input[type=submit] {
	margin: 0 0 0 5px;
	height: 24px;
	font-family: 'Montserrat', sans-serif;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	border: none;
}
.header_search_form a {
	color: #FFFFFF;
	margin: 0 0 0 10px;
}
/*----- Disclaimer area -----*/
.disclaimer {
	background-color: #373737;
}
.disclaimer p {
	padding: 5px 15px 5px 15px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 500;
}
/*----- Full page controls -----*/

.full_page {
	width: 900px;
	padding: 0px 0 0 0;
	background: url(../images/search_bg.jpg) no-repeat center;/* Pezibear (N.D.), Hyacinth flower, pixabay.com, retrieved 16 August 2016, <https://pixabay.com/en/hyacinth-flower-blossom-bloom-pink-747157/>.*/
}
.full_page_container {
	padding: 20px 20px 0 20px;
}
/*----- Advanced search form and controls -----*/
.advanced_search_form {
	width: 550px;
	float: left;
	margin: 20px 0 20px 20px;
	border: 1px #DFD1D2 dashed;
	position: relative;
	clear: both;
}
.advanced_search_form .row {
	width: 550px;
	clear: both;
	padding: 15px 0 15px 0;
	_padding: 15px 0 15px 0;
}
.advanced_search_form label {
	width: 150px;
	float: left;
	margin: 0px 10px 0 0;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}
.advanced_search_form input[type=text] {
	width: 320px;
	height: 20px;
	margin: 0px 0 10px 0;
	background-color: #fff;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
	float: left;
}
.advanced_search_form input[type=submit] {
	margin: 0 70px 20px 0;
	height: 24px;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	border: none;
	float: right;
}
.advanced_search_form input[type=radio] {
	margin: 0 5px 0 5px;
	border: 1px #DFDFDF solid;
}
.advanced_search_form select {
	border: 1px #DFDFDF solid;
}
.price_range_from, .price_range_to {
	width: 50px !important;
	height: 20px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	;
}
.label_price_range_to {
	width: 20px !important;
}
/*--------------- Register form and controls------------------*/

.register_form {
	width: 850px;
	float: left;
	margin: 20px 0 20px 20px;
	border: 1px #DFD1D2 dashed;
	position: relative;
	clear: both;
}
.register_form .row {
	width: 850px;
	clear: both;
	padding: 15px 0 15px 0;
	_padding: 15px 0 15px 0;
}
.register_form label {
	width: 150px;
	float: left;
	margin: 0px 10px 0 0;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}
.register_form input[type=text], .register_form input[type=password] {
	width: 320px;
	height: 20px;
	margin: 0px 0 10px 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
	float: left;
}
.register_form input[type=submit] {
	margin: 0 360px 20px 0;
	height: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	border: none;
	float: right;
}
.register_form input[type=checkbox] {
	margin: 0 5px 0 5px;
	border: 1px #DFDFDF solid;
}
.register_button {
	margin: 0 0 60px 13px;
	height: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	border: none;
	float: left;
	cursor: pointer;
}
.add_to_cart_button {
	margin: 10px 15px 0 0;
	height: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	border: none;
	float: right;
	cursor: pointer;
}
.order_table {
	margin: 0 0 40px 20px;
}

.order_table td {
	padding: 4px 20px 4px 10px;
}
/*----- Order form and controls -----*/

.user_form {
	width: 800px;
	float: left;
	margin: 20px 0 20px 20px;
	border: 1px #DFD1D2 dashed;
	position: relative;
	clear: both;
}
.user_form .row {
	width: 800px;
	height: 30px;
	clear: both;
	padding: 15px 0 15px 0;
	_padding: 15px 0 15px 0;
}
.user_form_title {
	width: 150px;
	float: left;
	margin: 0px 10px 0 0;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}
.user_form_title_short {
	width: 65px;
	float: left;
	margin: 0px 5px 0 15px;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}
.user_form_info {
	width: 320px;
	height: 20px;
	margin: 0px 0 10px 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
	float: left;
}
.user_form_info_short {
	width: 115px;
	height: 20px;
	margin: 0px 0 10px 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
	float: left;
}
.user_form_items {
	width: 320px;
	margin: 0px 0 10px 0;
	float: left;
}
.user_form_items ul {
	padding: 0px 0 0 15px;
	margin: 0px 0 0 0;
}
.user_form input[type=submit] {
	margin: 0 0 20px 83px;
	height: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: url(../images/search_bt_bg.gif) repeat-x center;
	color: #fff;
	border: none;
	float: left;
}
.user_form select {
	border: 1px #DFDFDF solid;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
}
.user_form .error {
	margin: 0 0 0 10px;
	color: #990000;
}
.expriy {
	float: left;
}
.expriy input[type=text] {
	width: 30px;
	height: 20px;
	margin: 0px 15px 0 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
}
.card_number input[type=text] {
	width: 30px;
	height: 20px;
	margin: 0px 10px 0 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #1B1B1B;
	border: 1px #DFDFDF solid;
}
.order_intro {
	padding: 5px 0 5px 0;
	clear: both;
}
.new_prod_bg_blank {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	text-align: center;
	position: relative;
}
/*----- Catalogue pages -----*/
p.price {
	padding: 2px 15px 2px 15px;
	font-size: 11px;
}
/*----- Header user info section -----*/
.logged_in_info {
	float: right;
	background: #E850FF;
	padding: 20px;
	margin: 0 20px 0 0;
}
.logged_in_info a {
	color: #FFF;
	font-size: 14px;
}

.required {
    color: #f00;
}
/*
***************************************************************************************
* (C) Deakin University, School of Information Technology. This web page has been     *
* developed as a student assignment for the unit SIT203: Web Programming. Therefore   *
* it is not part of the University's authorised web site. DO NOT USE THE INFORMATION  *
* CONTAINED ON THIS WEB PAGE IN ANY WAY.                    						  *
***************************************************************************************
*/
